<%- include("header.ejs")%>


<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            <% posts.forEach( (post) =>{%>
                <li class="list-group-item">
                    <div class="lead"><a href="/posts/<%=post._id%>" ><%=post.title%></a></div>
                    <a href="<%=this.url%> " target="_blank"><%=post.url%></a>
                </li>
            <%});%>
        </ul>
    </div>
</div>




<%- include("footer.ejs")%>
